name: Node CI

on: [push]

jobs:
  build:
    name: install npm and build

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - name: Azure Login action
      # Unlike code deployment, you will authenticate using an Azure Service Principal
      uses: azure/actions/login@master
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: npm install and build
      run: |
        cd "Hands-on lab/lab-files"
        npm install
        npm run build

    - name: Docker Login action
      uses: azure/container-actions/docker-login@master
      with:
        login-server: bestforyouregistrywm.azurecr.io
        username: bestforyouregistrywm
        password: ${{ secrets.DOCKER_PASSWORD }}     

    - name: Run docker build and push
      run: |
        cd "Hands-on lab/lab-files"
        docker build . -t bestforyouregistrywm.azurecr.io/best-for-you-organics:${{ github.sha }}
        docker push bestforyouregistrywm.azurecr.io/best-for-you-organics:${{ github.sha }}

    - name: Azure Web App for Containers action
      uses: Azure/github-actions/containerwebapp@master
      with:
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        AZURE_APP_NAME: best-for-you-app-wm
        DOCKER_USERNAME: bestforyouregistrywm
        DOCKER_REGISTRY_URL: bestforyouregistrywm.azurecr.io
        CONTAINER_IMAGE_NAME: best-for-you-organics
        CONTAINER_IMAGE_TAG: latest

